In [1]:
import glob
from codecs import open

import pandas as pd
import numpy as np
from google.cloud import language
from google.cloud.language import enums
from google.cloud.language import types

%env GOOGLE_APPLICATION_CREDENTIALS=/Users/emersonsjsu/GitHub/EarlGrey/google_private_key.json
WORKING_DIRECTORY = "/Users/emersonsjsu/GitHub/EarlGrey"

env: GOOGLE_APPLICATION_CREDENTIALS=/Users/emersonsjsu/GitHub/EarlGrey/google_private_key.json

In [22]:
# Clear char_df
char_df = char_df.iloc[0:0]
FIRST_EPISODE_OFFSET = 101


def sanitize_name(name_line):
    name = name_line.strip()  # Voice overs count as same character
    if name.endswith('V.O.'):
        name = name[:-5]
    # Strip parentheticals from name
    if name.find('(') != -1:
        name = name[:name.find('(')]
    # Strip 'S VOICE from name
    if name.endswith('\'S VOICE'):
        name = name[:-8]
    # Strip 'S COM VOICE from name
    if name.endswith('\'S COM VOICE'):
        name = name[:-12]
    return name.strip()


def process_script(file_path):
    current_file = open(file_path, "r", encoding='utf-8', errors="ignore")
    episode_no = int(current_file.name[current_file.name.rfind('/') + 1:-4]) - FIRST_EPISODE_OFFSET
    is_dialogue = False
    text_array = []
    character_array = []
    lines = current_file.readlines()
    for line in lines:
        # Character dialogue has ended, reset current character
        if line.strip() == '':
            is_dialogue = False
        # All names are preceded by exactly 5 tabs
        elif line[:5] == '\t\t\t\t\t' and line[5:6] != '\t' and not line.strip().startswith('('):
            # We have found a name! Update current name
            text_array.append([])
            character_array.append(sanitize_name(line))
            character_name = sanitize_name(line)
        # If we are still looking at a character's dialogue
        elif is_dialogue:
            # Append dialogue to character's current dialogue list
            text_array[-1].append(' %s' % line.strip())
    text_array = map(lambda x: ''.join(x)[1:], text_array)
    return text_array, character_array


text_array, character_array = process_script(WORKING_DIRECTORY + '/scripts/225.txt')
print(len(text_array))

384

In [25]:
def google_annotate(text):
    client = language.LanguageServiceClient()
    document = types.Document(
        language='EN',
        content=text,
        type=enums.Document.Type.PLAIN_TEXT
    )
    annotations = client.analyze_sentiment(document=document)
    return annotations


annotation_array = map(google_annotate, text_array)
annotation_array[0]

document_sentiment {
}
language: "en"

In [29]:
#my_index = pd.MultiIndex(levels=[range(len(annotation_array)), character_array],
                         #labels=[[], []],
                         #names=[u'dialogue_number', u'character'])
#my_columns = [u'text',u'sentiment_score',u'sentiment_magnitude']
#char_df = pd.DataFrame(index=my_index, columns=my_columns)
arrays = range(len(annotation_array)), character_array
my_index = pd.MultiIndex.from_arrays(arrays=arrays, names=('dialogue_index','character'))
pd.DataFrame(index=my_index)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>dialogue_index</th>
      <th>character</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>1</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>2</th>
      <th>GEORDI</th>
    </tr>
    <tr>
      <th>3</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>4</th>
      <th>RIKER</th>
    </tr>
    <tr>
      <th>5</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>6</th>
      <th>WORF</th>
    </tr>
    <tr>
      <th>7</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>8</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>9</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>10</th>
      <th>DATA</th>
    </tr>
    <tr>
      <th>11</th>
      <th>RIKER</th>
    </tr>
    <tr>
      <th>12</th>
      <th>WORF</th>
    </tr>
    <tr>
      <th>13</th>
      <th>DATA</th>
    </tr>
    <tr>
      <th>14</th>
      <th>GEORDI</th>
    </tr>
    <tr>
      <th>15</th>
      <th>WORF</th>
    </tr>
    <tr>
      <th>16</th>
      <th>RIKER</th>
    </tr>
    <tr>
      <th>17</th>
      <th>DATA</th>
    </tr>
    <tr>
      <th>18</th>
      <th>WORF</th>
    </tr>
    <tr>
      <th>19</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>20</th>
      <th>RIKER</th>
    </tr>
    <tr>
      <th>21</th>
      <th>RIKER</th>
    </tr>
    <tr>
      <th>22</th>
      <th>ELINE</th>
    </tr>
    <tr>
      <th>23</th>
      <th>ELINE</th>
    </tr>
    <tr>
      <th>24</th>
      <th>ELINE</th>
    </tr>
    <tr>
      <th>25</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>26</th>
      <th>ELINE</th>
    </tr>
    <tr>
      <th>27</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>28</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>29</th>
      <th>ELINE</th>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
    </tr>
    <tr>
      <th>354</th>
      <th>BATAI</th>
    </tr>
    <tr>
      <th>355</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>356</th>
      <th>BATAI</th>
    </tr>
    <tr>
      <th>357</th>
      <th>BATAI</th>
    </tr>
    <tr>
      <th>358</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>359</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>360</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>361</th>
      <th>ELINE</th>
    </tr>
    <tr>
      <th>362</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>363</th>
      <th>ELINE</th>
    </tr>
    <tr>
      <th>364</th>
      <th>ELINE</th>
    </tr>
    <tr>
      <th>365</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>366</th>
      <th>ELINE</th>
    </tr>
    <tr>
      <th>367</th>
      <th>BEVERLY</th>
    </tr>
    <tr>
      <th>368</th>
      <th>DATA</th>
    </tr>
    <tr>
      <th>369</th>
      <th>BEVERLY</th>
    </tr>
    <tr>
      <th>370</th>
      <th>RIKER</th>
    </tr>
    <tr>
      <th>371</th>
      <th>WORF</th>
    </tr>
    <tr>
      <th>372</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>373</th>
      <th>BEVERLY</th>
    </tr>
    <tr>
      <th>374</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>375</th>
      <th>RIKER</th>
    </tr>
    <tr>
      <th>376</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>377</th>
      <th>BEVERLY</th>
    </tr>
    <tr>
      <th>378</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>379</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>380</th>
      <th>RIKER</th>
    </tr>
    <tr>
      <th>381</th>
      <th>PICARD</th>
    </tr>
    <tr>
      <th>382</th>
      <th>RIKER</th>
    </tr>
    <tr>
      <th>383</th>
      <th>RIKER</th>
    </tr>
  </tbody>
</table>
<p>384 rows × 0 columns</p>
</div>

In [181]:
char_df.to_pickle(WORKING_DIRECTORY+'/char_df.pickle')

In [207]:
temp = pd.read_pickle(WORKING_DIRECTORY+'/char_df.pickle')
temp[temp['sentiment_score'] > 0].loc['PICARD'].sort_values(by=['sentiment_score','sentiment_magnitude','episode_no'],
                                                            ascending=[False, False, True])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>text</th>
      <th>sentiment_score</th>
      <th>sentiment_magnitude</th>
    </tr>
    <tr>
      <th>episode_no</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>39</th>
      <td>Captain's log, Stardate 42686.4. We are en rou...</td>
      <td>0.2</td>
      <td>15.600000</td>
    </tr>
    <tr>
      <th>172</th>
      <td>As a result, the Kearsarge won't be able to re...</td>
      <td>0.2</td>
      <td>7.100000</td>
    </tr>
    <tr>
      <th>132</th>
      <td>Captain's Log, Stardate 46235.7 Ensign Ro, Kei...</td>
      <td>0.2</td>
      <td>5.000000</td>
    </tr>
    <tr>
      <th>167</th>
      <td>What's the last thing you remember?</td>
      <td>0.2</td>
      <td>0.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Captain's log, stardate 41235.25. Our location...</td>
      <td>0.1</td>
      <td>48.700001</td>
    </tr>
    <tr>
      <th>144</th>
      <td>Good evening, Mister Data. No need to report. ...</td>
      <td>0.1</td>
      <td>48.599998</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Captain's log, Stardate 42881.5. We are in orb...</td>
      <td>0.1</td>
      <td>48.099998</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Captain's log, stardate 44307.3. I am preparin...</td>
      <td>0.1</td>
      <td>45.200001</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Captain's log, Stardate 42411.2. The Enterpris...</td>
      <td>0.1</td>
      <td>44.299999</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Come. Very good. Take a look at the containmen...</td>
      <td>0.1</td>
      <td>33.000000</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Captain's log, stardate 45470.1. The Enterpris...</td>
      <td>0.1</td>
      <td>32.000000</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Captain's Log: Stardate 46357.4 We have rendez...</td>
      <td>0.1</td>
      <td>31.299999</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Not at all possible. Lay in a course to the so...</td>
      <td>0.1</td>
      <td>30.400000</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Captain's Log, Stardate 43980.7. The Enterpris...</td>
      <td>0.1</td>
      <td>30.400000</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Captain's Log, stardate 45156.1. Our mission t...</td>
      <td>0.1</td>
      <td>30.400000</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Captain's log, Stardate 43994.1. The Enterpris...</td>
      <td>0.1</td>
      <td>29.299999</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Captain's log, stardate 41242.4. Our last assi...</td>
      <td>0.1</td>
      <td>26.799999</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Acknowledged, Number One. Commander Riker, rep...</td>
      <td>0.1</td>
      <td>25.900000</td>
    </tr>
    <tr>
      <th>129</th>
      <td>(to Rager) Bring us out of warp, Ensign. All s...</td>
      <td>0.1</td>
      <td>23.299999</td>
    </tr>
    <tr>
      <th>103</th>
      <td>What kind of disturbance? See if you can make ...</td>
      <td>0.1</td>
      <td>22.700001</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Captain's Log, Stardate 47310.2. We are invest...</td>
      <td>0.1</td>
      <td>21.799999</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Mister Data? Warp eight. (to Riker) Whenever S...</td>
      <td>0.1</td>
      <td>19.100000</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Picard to Counselor Troi. The pleasure of your...</td>
      <td>0.1</td>
      <td>18.400000</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Time, Mister Data? (to com) Romulan ship, this...</td>
      <td>0.1</td>
      <td>17.900000</td>
    </tr>
    <tr>
      <th>126</th>
      <td>If they're moving among humans, they must have...</td>
      <td>0.1</td>
      <td>17.000000</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Captain's log, stardate 45208.2. Commander Rik...</td>
      <td>0.1</td>
      <td>16.000000</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Captain's Log, Stardate 44891.6. The Enterpris...</td>
      <td>0.1</td>
      <td>14.600000</td>
    </tr>
    <tr>
      <th>134</th>
      <td>This is the Captain. We have arrived at the Ty...</td>
      <td>0.1</td>
      <td>13.600000</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Captain's Log, Stardate 46271.5. The Enterpris...</td>
      <td>0.1</td>
      <td>12.200000</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Captain's log, Stardate 43807.4. We are taking...</td>
      <td>0.1</td>
      <td>11.300000</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Captain's Log, Stardate 46041.1. We have locat...</td>
      <td>0.1</td>
      <td>8.100000</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Sleep. Sleep. Sleep. Data. Almost human. (smil...</td>
      <td>0.1</td>
      <td>2.200000</td>
    </tr>
  </tbody>
</table>
</div>

In [28]:

character_array

[u'PICARD',
 u'PICARD',
 u'GEORDI',
 u'PICARD',
 u'RIKER',
 u'PICARD',
 u'WORF',
 u'PICARD',
 u'PICARD',
 u'PICARD',
 u'DATA',
 u'RIKER',
 u'WORF',
 u'DATA',
 u'GEORDI',
 u'WORF',
 u'RIKER',
 u'DATA',
 u'WORF',
 u'PICARD',
 u'RIKER',
 u'RIKER',
 u'ELINE',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'ELINE',
 u'BATAI',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'RIKER',
 u'RIKER',
 u'DATA',
 u'RIKER',
 u'DATA',
 u'RIKER',
 u'GEORDI',
 u'BEVERLY',
 u'RIKER',
 u'BEVERLY',
 u'RIKER',
 u'DATA',
 u'WORF',
 u'BEVERLY',
 u'RIKER',
 u'RIKER',
 u'RIKER',
 u'DATA',
 u'BEVERLY',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'BATAI',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'ELINE',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'ADMINISTRATOR',
 u'BATAI',
 u'ADMINISTRATOR',
 u'BATAI',
 u'ADMINISTRATOR',
 u'PICARD',
 u'ADMINISTRATOR',
 u'BATAI',
 u'ADMINISTRATOR',
 u'PICARD',
 u'ADMINISTRATOR',
 u'PICARD',
 u'ADMINISTRATOR',
 u'PICARD',
 u'ADMINISTRATOR',
 u'PICARD',
 u'ADMINISTRATOR',
 u'ADMINISTRATOR',
 u'BATAI',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'BATAI',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'ELINE',
 u'BATAI',
 u'ELINE',
 u'BATAI',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'BEVERLY',
 u'OGAWA',
 u'BEVERLY',
 u'OGAWA',
 u'BEVERLY',
 u'RIKER',
 u'GEORDI',
 u'RIKER',
 u'GEORDI',
 u'RIKER',
 u'GEORDI',
 u'DATA',
 u'RIKER',
 u'BEVERLY',
 u'RIKER',
 u'BEVERLY',
 u'RIKER',
 u'BEVERLY',
 u'WORF',
 u'RIKER',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'BEVERLY',
 u'OGAWA',
 u'BEVERLY',
 u'RIKER',
 u'OGAWA',
 u'BEVERLY',
 u'OGAWA',
 u'BEVERLY',
 u'DATA',
 u'OGAWA',
 u'BEVERLY',
 u'BEVERLY',
 u'DATA',
 u'OGAWA',
 u'BEVERLY',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'BEVERLY',
 u'GEORDI',
 u'RIKER',
 u'GEORDI',
 u'RIKER',
 u'GEORDI',
 u'RIKER',
 u'DATA',
 u'RIKER',
 u'DATA',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'YOUNG BATAI',
 u'PICARD',
 u'YOUNG BATAI',
 u'PICARD',
 u'YOUNG BATAI',
 u'PICARD',
 u'YOUNG BATAI',
 u'PICARD',
 u'YOUNG BATAI',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ADMINISTRATOR',
 u'PICARD',
 u'ADMINISTRATOR',
 u'PICARD',
 u'ADMINISTRATOR',
 u'ADMINISTRATOR',
 u'PICARD',
 u'ADMINISTRATOR',
 u'PICARD',
 u'ADMINISTRATOR',
 u'YOUNG BATAI',
 u'PICARD',
 u'YOUNG BATAI',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'OGAWA',
 u'BEVERLY',
 u'OGAWA',
 u'BEVERLY',
 u'RIKER',
 u'BEVERLY',
 u'BEVERLY',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'YOUNG BATAI',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'YOUNG BATAI',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'MERIBOR',
 u'MERIBOR',
 u'PICARD',
 u'PICARD',
 u'PICARD',
 u'PICARD',
 u'MERIBOR',
 u'PICARD',
 u'BATAI',
 u'PICARD',
 u'BATAI',
 u'BATAI',
 u'PICARD',
 u'PICARD',
 u'PICARD',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'ELINE',
 u'PICARD',
 u'ELINE',
 u'BEVERLY',
 u'DATA',
 u'BEVERLY',
 u'RIKER',
 u'WORF',
 u'PICARD',
 u'BEVERLY',
 u'PICARD',
 u'RIKER',
 u'PICARD',
 u'BEVERLY',
 u'PICARD',
 u'PICARD',
 u'RIKER',
 u'PICARD',
 u'RIKER',
 u'RIKER']

In [ ]:
temp.head()